table tr td {
	vertical-align:top
}
#readme {
	margin-left: 280px;
}
#toc {
	top: 0px;
	left: 0px;
	height: 100%;
	position: fixed;
	background: #333;
	box-shadow: inset -5px 0 5px 0px #000;
	width: 280px;
	padding-top: 20px;
	color: #fff;
	overflow-y:auto;
}

#toc ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#toc li {
	padding: 5px 10px;
}

#toc a {
	color: #fff;
	text-decoration: none;
	display: block;
}

#toc .toc-h1 {
	font-weight:bold;
}

#toc .toc-h2 {
	padding-left: 8px;
}

#toc .toc-h3 {
	padding-left: 16px;
}

#toc .toc-h4 {
	padding-left: 32px;
}

#toc .toc-h5 {
	padding-left: 48px;
}

#toc .toc-active {
	background: #336699;
	box-shadow: inset -5px 0px 10px -5px #000;
}